@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#log-in-div {
    height: 550px;
    width: 1000px;
    background-color: rgb(169, 181, 181);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -275px;
    border-radius: 8px;
    z-index: 1;
}

#invalid-signIn {
    display: none;
}

#invalid-signUp {
    display: none;
}

#valid-signUp {
    display: none;
}

#main-nav > * {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 300px;
}

#main-nav div {
    float: right;
    margin: 0;
    margin-right: 10px;
}

#main-nav div > * {
    display: inline-block;
}

#addWorkoutButton:hover {
    cursor: pointer;
}

#add-first-workout {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 20px;
    translate: -150px -5px;
}

#add-workout {
    height: 550px;
    width: 1000px;
    background-color: rgb(169, 181, 181);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -275px;
    border-radius: 8px;
    display: none;
}

#add-workout div {
    border-radius: 6px;
}

#add-workout {
    padding-left: 1em;
}

#add-workout-title > * {
    display: inline-block;
    margin-right: 10px;
}

#required-fields {
    color: red;
    font-weight: 400;
    display: none;
}

#close-add-workout {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 14px;
    color: red;
}

#close-add-workout:hover {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 14px;
    color: red;
    cursor: pointer;
}

#time-distance-div {
    display: flex;
}

#time-distance-div div {
    height: 70px;
}

#time-distance-div div > *{
    display: inline-block;
    margin-right: .5em;
}

#workout-builder {
    width: 1000px;
    height: 300px;
    translate: -5px;
}

#workout-builder > * {
    display: inline-block;
}

#workout-layout {
    background-color: azure;
    height: 300px;
    width: 840px;
    overflow-y: scroll;
}

#workout-layout div {
    display: inline-block;
}

#workout-blocks {
    height: 300px;
    width: 150px;
    background-color: azure;
    translate: 0 -27px;
}

.workout-block-button {
    width: 143px;
    height: 56px;
    margin: .2em;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 50px;
}

.added-workout-block {
    margin: .3em;
    height: 290px;
    width: 154.5px;
}

.added-workout-block div > * {
    display: inline-block;
}

.awb-title {
    color: white;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 5px;
}

.awb-delete {
    color: red;
    margin-right: 5px;
}

.awb-delete:hover {
    cursor: pointer;
}

.input-workout-block {
    width: 135px;
    height: 240px;
    border: none;
    border-radius: 4px;
    text-wrap: wrap;
    resize: none;
    translate: 7px -10px;
    background-color: #ffffff9c;
}

.workout-block-button:hover {
    cursor: pointer;
}

#highlights-mood-goals-div {
    display: inline-flex;
}

#highlights-mood-goals-div div {
    margin-right: 40px;
}

#add-highlights {
    width: 210px;
}

#highlights-input {
    width: 200px;
    height: 50px;
    overflow-y: scroll;
    resize: none;
}

#add-mood {
    width: 300px;
}

#mood-options {
    height: 40px;  
    text-align: center;
}

#mood-options:hover {
    cursor: pointer;
}

#mood-options > * {
    display: inline-block;
    margin: 0;
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 0 2px;
    translate: -10px 0;
}

#add-goals-input-area > * {
    display: inline-block;
}

#add-goals-input-area {
    width: 240px;
}

#submit-workout {
    margin-top: 10px;
    margin-left: 525px;
}

#submit-workout > * {
    background-color: gray;
    padding: .3em .6em;
    border-radius: 6px;
}

#submit-workout > *:hover {
    cursor: pointer;
}

.input-info {
    width: 40px;
    height: 16px;
}


/*added workout section*/

.added-workout {
    width: 800px;
    height: 100px;
    background-color: rgb(169, 181, 181);
    position: relative;
    left: 50%;
    translate: -400px 0;
    margin-top: 20px;
    border-radius: 8px;
}

.added-workout div > * {
    display: inline-block;
}

.added-workout div > h5 {
    font-weight: 400;
}

.added-workout div > * {
    color: white;
}

.aw-workout-type {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 10px;
}

.aw-title {
    translate: 80px -80px;
    width: 400px;
}

.aw-inten-mood {
    translate: 80px -110px;
    width: 400px;
}

.slider { 
    height: 10px;
}

.aw-workout-layout {
    translate: 350px -175px;
}
.aw-workout-block {
    width: 10px;
    height: 68px;
}

.aw-show-more {
    color: white;
    font-size: 14px;
    translate: 700px -168px;
    width: 100px;
}

.aw-show-more:hover{
    cursor:pointer;
}

/* full workout */

.full-workout {
    width: 1000px;
    height: 550px;
    background-color: rgb(169, 181, 181);
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -500px -275px;
    display: none;
    border-radius: 7px;
}

.fw-layout {
    background-color: azure;
    height: 300px;
    width: 840px;
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    translate: -420px 50px;
    border-radius: 5px;
}

.fw-layout > * {
    display: inline-block;
}

.fw-heading > * {
    display: inline-block;
}

.fw-type {
    width: 40px;
    height: 40px;
    font-size: 50px;
}

.fw-title {
    padding-left: 30px;
}

.fw-title > * {
    display: inline-block;
    color: white;
    font-weight: 400;
    padding-left: 10px;
}

.fw-inten-mood > * {
    display: inline-block;
    color: white;
    font-weight: 400;
    padding-left: 10px;
}

.fw-close {
    color: white;
    float:right;
    margin-right: 12px;
    margin-top: 5px;
}

.fw-close:hover {
    cursor: pointer;
}

.fw-workout-block {
    margin: .3em;
    height: 290px;
    width: 154.5px;
    border-radius: 5px;
}

.fw-workout-block div h4 {
    font-weight: 500;
}

.fw-workout-block pre {
    width: 135px;
    height: 240px;
    border: none;
    border-radius: 4px;
    text-wrap: wrap;
    resize: none;
    translate: 10px -30px;
    background-color: #ffffff9c;
    overflow-y: scroll;
    color: black;
}

.fw-workout-block pre {
    padding-left: .3em;
}

.fw-workout-block div > * {
    display: inline-block;
}